<%= form_with model: @board, local: true do |f| %> 
    <%= render 'shared/error_messages', object: f.object %> 
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', id: 'board_title' %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 10, class: 'form-control', id: 'board_body' %>
    </div>
    <div class="form-group">
        <%= f.label :board_image %>
        <%= f.file_field :board_image, class: 'form-control mb-3', accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
    </div>
    <%= f.submit '登録する', class: 'btn btn-primary' %>
<% end %>