<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>掲示板作成</h1>
      <%= form_with model: @board, local: true do |f| %>    
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', id: 'board_title' %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, size: '20x8', class: 'form-control', id: 'board_body' %>
        </div>
        <%= f.submit '作成', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>